@font-face{

font-family: 'Lato';

src: url('../fonts/Lato-Regular.ttf');

font-weight: normal;

font-style: normal;

}
@font-face{

font-family: 'Lato-light';

src: url('../fonts/Lato-Light.ttf');
}

body{
  font-family: Lato;
  font-size: 18px;
  color: #071739;
}
h2{
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0;
}
.h2-block{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}
button{
  text-transform: uppercase;
  cursor: pointer;
}
a{
  color: inherit;
}
a:hover{
  color: inherit;
  text-decoration: none;
}
.redBtn{
  border-radius: 25px;
  background: #EC001C;
  color: #fff;
  border: 0;
  height: 40px;
  font-size: 12px;
  padding: 0 25px;
}
.whiteBtn{
  border-radius: 25px;
  background: #fff;
  color: #061C2E;
  border: 0;
  height: 40px;
  font-size: 14px;
  padding: 0 25px;
}

.main-header{
  background-image: url('../img/bg1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.main-header__content{
  -ms-flex: 0 0 95.333333%;
  flex: 0 0 95.333333%;
  max-width: 95.333333%;
}
.main-header__content p,
.h2-block p,
.sort p,
.page-header p{
  margin-bottom: 0;
}
.main-header__head{
  padding-top: 52px;
  align-items: center; 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 220px;
}
.main-header__advantages{
  margin-bottom: 55px;
}
.main-header__block2{
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  width: 80%;
}
.main-header__block2 div:first-child{
    align-self: flex-start;
  }
.main-header__block2 p{
  font-size: 14px;
  line-height: 17px;
}
.main-header__block2 p span{
  font-weight: 300;
  font-family: Lato-Light;
}
.main-header__slider{
  max-width: 50%; 
  font-size: 16px;
  margin-bottom: 234px;
}
.main-header__slider h3{
  font-size: 46px;
  line-height: 135%;
  margin-bottom: 36px;
}
.main-header__slide div{
  display: flex;
}
.main-header__slide img,
.main-header__slide p{
  margin-right: 15px; 
  align-self: center;
}
.main-header__link{
  background-color: #1BAAD7;
  border-collapse: #fff;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0px 0px 0px 50px;
  position: absolute;
  right: 0;
  z-index: 3;
}
.main-header__link a{
  padding: 13px 25px;
  display: block;
}
.page-header .main-header__link{
  top: 260px;
}

.additional-header{
  padding-left: 70px; 
}
.additional-header__logo{
  margin-bottom: 74px; 
}
.additional-header__products{
  overflow-y: scroll;
  max-height: 503px;
  margin-bottom: 38px;
}
.additional-header__products::-webkit-scrollbar {
  width: 3px;
}
.additional-header__products::-webkit-scrollbar-thumb {
  background: #082392;
}
.additional-header__products::-webkit-scrollbar-track{
  background: #D8D8D8;
}
.additional-header__products ul{
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.additional-header__products li{
  padding-bottom: 33px;
  font-size: 18px;
  line-height: 145%;
  text-transform: uppercase;
  word-break: break-word;
  padding-right: 10px;
}
.additional-header__products li:last-child{
  padding-bottom: 0;
}
.additional-header_links a{
  color: #082392;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 22px;
  text-decoration: underline;
}
.additional-header_links a:hover,
.typical-mini-slider__text a:hover{
  text-decoration: none;
}
.additional-header_links{
  margin-bottom: 35px;
}
.additional-header_links p{
  margin-bottom: 9px; 
}
.additional-header_social a{
  display: block;
  margin-right: 10px;
}
.additional-header_social{
  display: flex;
}

.section{
  padding: 126px 0;
}
.first-section{
  padding-bottom: 126px; 
}
.special-section{
  margin-bottom: 120px; 
}
.section-grey{
  background-color: #F3F3F4;
}
.h2-a{
  font-size: 13px;
  color: #005C9D;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.h2-a:hover{
  text-decoration: underline;
  color: #005C9D;
}

.typical-slider__image{
  position: relative;
  width: 100%;
}
.typical-slider__text{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0px 25px 25px 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
}
.typical-slider__text h3{
  font-size: 18px;
  line-height: 22px;
}
.section-equipment__slider,
.partners-slider{
  margin: 0 -15px;
}
.typical-slider__slide{
  padding: 0 15px;
  overflow: hidden;
}
.typical-slider__slide img{
  width: 100%;
}

.typical-slider__image:hover .typical-slider__links{
  opacity: 1;
  height: auto;
  display: block;
}
.typical-slider__image:hover .typical-slider__text{
  background: rgba(0,0,0,.5);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.typical-slider__text h3,
.typical-slider__text .typical-slider__links{
  flex: 0 0 100%;
}


.typical-slider__image:hover .typical-slider__text h3{
  margin-bottom: 23px !important;
}
.typical-slider__links{
  height: 0;
  opacity: 0;
  transition: 0.3s;
}
.typical-slider__links a{
  display: block;
  font-size: 12px;
  text-decoration: underline;
  line-height: 14px;
  text-transform: uppercase;
}
.typical-slider__links a:first-child{
  margin-bottom: 30px;
  margin-top: 10px;
}

.section-image-bentween-blocks{
  margin-bottom: 70px; 
}
.section-image-bentween-blocks__background{
  background-image: url('../img/bg3.webp');
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding-top: 60px;
  margin-bottom: 1rem;
}
.section-image-bentween-blocks__image{
  position: absolute; 
}
.section-image-bentween-blocks__image img{
  max-width: 80%;
}
.section-image-bentween-blocks .h2-a,
.section-image-bentween-blocks .h2-a:hover{
  color: #fff;
}

.special-info__count{
  display: flex;
  justify-content: center;
  font-weight: 800;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.05em;
  color: #EC001C;
  margin-bottom: 27px;
}

.partners-slider__slide{
  border: 1px solid #E4E4E4;
  padding: 15px 10px;
  height: 200px !important;
  display: flex !important;
}
.partners-slider__slide img{
  max-width: 100%;
  margin: auto;
}

.section-form__form{
  display: flex;
  flex-wrap: wrap;
  max-width: 436px;
  margin-left: 120px;
  color: #fff;
}
.section-form__form h2{
  margin-bottom: 32px;
}
.section-form input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #FFFFFF;
  font-size: 14px;
  width: 100%;
  color: #fff;
  padding-left: 10px;
  margin-bottom: 40px;
}
.section-form input::placeholder{
  color: #fff;
}
.section-form p a{
  text-decoration: underline;
}
.section-form p{
  margin-bottom: 28px;
}
.section-form__background{
  background-image: url('../img/bg4.webp');
  background-size: cover;
  padding: 37px 0;
}
.section-form__image{
  background-size: cover;
  background-image: url('../img/bg5.png');
}

.typical-mini-slider__block{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.typical-mini-slider__image{
  max-width: 33%;
  margin-right: 15px;
}
.typical-mini-slider__image img,
.page-header__logo img,
.additional-header__logo img{
  max-width: 100%;
}
.typical-mini-slider__text{
  max-width: 50%;
  font-size: 16px;
}
.typical-mini-slider__text .title{
  font-weight: bold;
  font-size: 18PX;
  text-transform: uppercase;
}
.typical-mini-slider__text a{
  text-decoration-line: underline;
  color: #082392;
}

footer{
  background-color: #082392;
  padding: 45px 0;
}
footer .main-header__block2{
  color: #fff;
  max-width: unset;
  width: 100%;
}

.page-header{
  background-color: #F3F3F4;
}
.page-header .row{
  padding: 22px 0;
}
.page-header__menu .menuFive span{
  background-color: #061C2E;
}
.page-header .main-header__block2{
  max-width: unset;
  width: 100%;
}
.page-header__logo div{
  text-align: center;
}
.page-header__logo{
  border-right: 1px solid rgba(6, 28, 46, 0.15);
}

.section-image-bentween-blocks .breadcrumbNav{
  margin-top: -100px;
}
.section-image-bentween-blocks-breadcrumbs .section-image-bentween-blocks__background{
  padding-top: 120px;
}
.breadcrumb{
  color: #061C2E;
  background-color: unset;
  font-size: 13px;
  margin: 1rem 0;
}
.section-image-bentween-blocks-breadcrumbs .breadcrumb{
  color: #fff;
}
.section-image-bentween-blocks-breadcrumbs .breadcrumb-item.active{
  color: rgba(255,255,255,0.5);
}
.breadcrumb-item.active{
  color: rgba(6, 28, 46, 0.7);
}

.breadcrumb-item+.breadcrumb-item::before{
  content: ">";
}
.company-history p:hover,
.company-history .active{
  color: #005C9D;
}
.company-history p{
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.grid-slider__slide,
.sertificates-slider__slide{
  display: flex !important;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.grid-slider .typical-slider__slide{
  padding: 0;
}
.grid-slider .col-lg-4{
  margin-bottom: 30px;
}




.section-solutions__slider,
.products-detail-slider{
  margin: 0 -15px;
}


.city-bg{
  height: 400px;
  margin-top: -400px;
  width: 100%;
  overflow: hidden;
}

.blackBtn{
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #061C2E;
  margin-bottom: 0;
}
.imgW100 img{
  width: 100%;
}
.imgW100{
  display: flex;
  justify-content: center;
}
.table td,
.table tr{
  display: flex;
}
.table .checkbox + label:before {
  content: '';
  position: absolute;
  top: -5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #1BAAD7;
  background: transparent;
}
.table .checkbox:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: #f3f3f3;
  background-color: #1BAAD7;
  text-align: center;
  line-height: 19px;
}
.table td{
  border: 1px solid #C4C4C4;
  word-break: break-word;
  align-items: center;
}
.table td,
.table tr,
.table table,
.table tbody{
  width: 100%;
}

.sort{
  display: flex;
}
.sort p{  
  font-size: 14px;
  margin-right: 30px;
  cursor: pointer;
  color: #828282;
}
.sort .title,
.sort .active{
  color: #333333;
}
.sort .title{
  cursor: default;
}
.view{
  display: flex;
  justify-content: space-between;
}
.view img{
  cursor: pointer;
}


.products-on-page{
  font-size: 14px;
  align-items: center;
}
.products-on-page select{
  background-color: #1BAAD7;
  border: none;
  color: #061C2E;
  border-radius: 50px;
  min-width: 57px;
  padding-left: 8px;
  min-height: 40px;
}


.typical-slider__image img,
.basket-product__image img{
  border-radius: 3px;
}

.container-fluid .col-lg-6 img{
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.basket-product__image img{
  width: 100%;
}
.basket-product__description,
.basket-product__info{
  display: flex;
  flex-wrap: wrap;
}
.basket-product__name,
.basket-product__info{
  flex: 0 0 100%;
  max-width: 100%;
}
.basket-product__info div{
  flex: 0 0 50%;
  max-width: 50%;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}
.basket-product__info{
  align-self: flex-end;
}
.basket-product__info .basket-product__params{
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #616161;
}
.basket-product__name p{
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.basket-product__delete{
  align-self: flex-start;
  margin-left: auto;
}
.basket-product__delete img{
  cursor: pointer;
}
.basket-product{
  margin-bottom: 40px;
}

.basket-order{
  margin-top: 80px;
}
.order-form__inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order-form .title{
  font-weight: bold;
  font-size: 28px;
  line-height: 151.67%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.order-form__inputs input{
  flex: 0 0 45%;
  max-width: 45%;
  border: none;
  padding-left: 5px;
  border-bottom: 1px solid rgba(6, 28, 46, 0.5);
  background-color: transparent;
  color: #061C2E;
  margin-bottom: 40px;
}
.order-form__form .checkbox + label:before{
  border: 1px solid rgba(6, 28, 46, 0.5);
  top: 3px;
}
.order-form__form .checkbox:checked + label:before {
  color: #000;
}
.order-form__form a{
  text-decoration: underline;
}
.order-form__form .redBtn{
  min-width: 190px;
}
.basket-image img{
  max-width: 100%;
}

.low-margin-section{
  margin-bottom: 70px;
}
.sertificates-slider__content img{
  max-width: 100%;
  margin-bottom: 18px
}
.sertificates-slider__content{
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 40px;
  text-align: center;
}

.accordion .card-header{
  background-color: unset;
  border: unset;
}
.accordion .card{
  border: unset;
}
.accordion .btn-link{
  font-weight: bold;
  font-size: 18px;
  line-height: 130%;
  color: #061C2E;
  text-transform: initial;
  word-break: break-word;
  white-space: normal;
  text-align: left;
  display: flex;
}
.accordion .btn-link img{
  margin-right: 25px;
  margin-top: 5px;
}
.accordion .card-body{
  font-size: 16px;
  line-height: 130%;
  color: #061C2E;
  padding-left: 75px;
}

.newses-list-slider__slide{
  display: flex !important;
  flex-wrap: wrap;
}
.newses-list-slider__slide .typical-mini-slider__block{
  flex: 0 0 50%;
  max-width: 50%;
}
.newses-list-slider__slide .typical-mini-slider__text{
  max-width: 60%;
}

.newses-list-slider .list{
  display: block !important;
}

.list .typical-mini-slider__block{
  flex: unset;
  max-width: unset;
}
.list .typical-mini-slider__text{
  max-width: 83%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list .typical-mini-slider__text .title{
  flex: 0 0 100%;
  max-width: 100%;
}
.list .title br{
  display: none;
}
.list .typical-mini-slider__text p{
  flex: 0 0 75%;
}
.slick-slide:focus{
  outline: none;
}
.contacts .title{
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
  color: #071739;
  margin-bottom: 0;
}
.contacts p{
  font-size: 18px;
  line-height: 27px;
  color: #1E1616;
  opacity: 0.75;
}

#toTop {
  width:100px;
  padding:5px;
  position:fixed;
  bottom:40px;
  right:10px;
  cursor:pointer;
  display:none;
}

.menu{
  display: flex;
  display: none;
}
.page-header .menu{
  /*background: rgba(8, 35, 146, 0.9);*/
  background-color: inherit;
  position: static;
  justify-content: space-around;
  border-top: 1px solid rgba(6, 28, 46, 0.15);
  border-bottom: 1px solid rgba(6, 28, 46, 0.15);
/*  display: block;*/
  left: 180px;
  top: -61px;
  z-index: 5;
  margin: 0 -15px;
  padding: 15px;
  min-width: 280px;
  opacity: 0; 
  transform: scaleX(0); 
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
header .menu{
  /*background: rgba(8, 35, 146, 0.9);*/
  background-color: transparent;
  position: static;
/*  display: block;*/
  left: 180px;
  top: 0px;
  z-index: 5;
  padding: 16px 13px 17px 24px;
  min-width: 280px;
  opacity: 0; 
  transform: scaleX(0); 
  transform-origin: 0 0;
  transition: .5s ease-in-out;
}
.menu ul{
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
  color: #071739;
  font-size: 16px;
  margin: 0 10px;
}
.menu ul li{
  padding: 5px 0;
}
.menu a:hover{
  text-decoration: underline;
}
header .show{
  opacity: 1 !important;
  transform: scaleX(1) !important;
  display: flex;
}
.main-page-header .show{
  height: auto !important;
  opacity: 1;
  margin-top: -200px;
  position: static !important;
  margin-bottom: 20px;
  justify-content: space-around;
  background: rgba(8, 35, 146, 0.7);
}
.main-page-header .show li{
  color: #fff !important;
}


.main-page-header .menu{
  height: 0;
  display: flex;
  position: absolute;
  margin-top: -200px !important;
  /*margin-bottom: 167px;*/
  opacity: 0;
}
.additional-header__products li a:hover{
  text-decoration: underline;
}
.main-page-header .menu li{
  color: transparent;
}

.services-slider .blue-dots{
  margin-bottom: 120px;
  margin-top: 60px;
}
.products-slider .blue-dots{
  margin-top: 60px;
}

.fancybox-content input{
  flex: 0 0 100%;
  max-width: 100%;
  border: none;
  padding-left: 5px;
  border-bottom: 1px solid rgba(6, 28, 46, 0.5);
  background-color: transparent;
  color: #061C2E;
  margin-bottom: 40px;
}
.fancybox-content form{
  display: flex;
  flex-wrap: wrap;
}
.fancybox-content .card{
  max-width: 378px;
  border: none;
  font-size: 16px;
}
.fancybox-content .card-header{
  border: none;
  background-color: #fff;
}
.fancybox-content{
  padding: 55px !important;
}
.fancybox-content h1{
  font-weight: bold;
  font-size: 28px;
  line-height: 151.67%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.fancybox-content .checkbox + label:before{
  border-color: rgba(6, 28, 46, 0.5);
}
.fancybox-content .checkbox:checked + label:before{
  color: #000;
}
.fancybox-content p a{
  text-decoration: underline;
}
.fancybox-content .redBtn{
  width: 198px;
}


#questionList .card{
  max-width: unset;
}
.big-form{
  display: flex;
  flex-wrap: wrap;
  min-width: 900px;
  max-width: 1000px;
  justify-content: space-between;
}
.big-form__col{
  flex: 0 0 50%;
  max-width: 50%;
  padding-bottom: 30px;
}
.big-form__col p{
  margin-bottom: 0;
}
.big-form__block{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.big-form__block p{
  max-width: 65%;
}
.big-form__block .big-form__elem p{
  max-width: unset;
}
.big-form__col .big-form__block:last-child{
  margin-bottom: 0;
}
.fancybox-content .big-form__block input{
  flex: unset;
  border: 1px solid #D6D6D6;
  text-align: center;
  max-width: 15%;
  max-height: 28px
  margin-bottom: 0;
}
.big-form__inputs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fancybox-content .big-form__inputs input{
  border: none;
  border-bottom: 1px solid rgba(6, 28, 46, 0.5);
  color: #061C2E;
  flex: 0 0 46%;
  max-width: 46%;
  margin-bottom: 30px;
  text-align: left;
}
.fancybox-content .big-form__inputs .w100Input,
.big-form__inputs h3{
  flex: 0 0 100%;
  max-width: 100%;
}
.fancybox-content .big-form__block .big-form__address{
  border: none;
  border-bottom: 1px solid rgba(6, 28, 46, 0.5);
  color: #061C2E;
  max-width: 40%;
  text-align: left;
}
input:focus{
  outline: none;
}
.big-form .big-form__col:nth-child(odd){
  border-right: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  padding-right: 70px;
}
.big-form .big-form__col:nth-child(even){
  border-left: 1px solid #E2E2E2;
  border-bottom: 1px solid #E2E2E2;
  padding-left: 28px;
}
.big-form__block2{
  display: flex;
  justify-content: space-between;
}
.big-form__elem{
  border: 1px solid #D6D6D6;
  text-align: center;
  padding: 3px 20px 0;
  margin-right: 5px;
}
.big-form__title{
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-weight: bold;
  color: #082392;
  margin-bottom: 30px;
  margin-top: 30px;
}
.big-form .big-form__col:nth-child(1) .big-form__title,
.big-form .big-form__col:nth-child(2) .big-form__title{
  margin-top: 0;
}
.big-form__send{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.big-form .checkbox + label:before{
  top: 4px;
}
.sertificates-slider .blue-dots{
  margin-top: 40px;
}
.map2{
  height: 450px;
  width: 700px;
}
.fancybox-content .showMapCard{
  max-width: unset;
  width: auto;
}
.search input[type=search]{
  opacity: 1 !important;
}
.search input:hover,
.slick-arrow:hover{
  opacity: 1;
}
.search input,
.slick-arrow{
  opacity: 0.6;
}

.additional-header_social a:hover,
.placemark:hover,
.additional-header_social a:hover{
  opacity: 0.6;
}

.additional-header_social a,
.additional-header_social a,
.sort p,
.search,
.placemark{
  transition: 0.3s;
}



.sort p:hover{
  color: #071739;
}

.whiteBtn:hover,
.whiteBtn:focus{
  box-shadow: 0px 0px 10px 3px #fff;
}
.redBtn:hover,
.redBtn:focus {
  box-shadow: 0px 0px 10px 3px #EC001C;
}
.whiteBtn{
  margin-bottom: 10px;
}
.redBtn,
.whiteBtn,
.slick-arrow,
.blackBtn{
  transition: 0.3s;
}
.blackBtn:hover{
  text-decoration: unset;
}


.controls {
  position: relative;
  z-index: 10;
  text-align: center;
  margin-top: -45px;
}

.controls-arrows,
.controls-dots {
  text-align: center;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.controls-dots .slick-dots {
  position: relative;
  bottom: auto;
}
.controls-arrows .slick-prev, 
.controls-arrows .slick-next {
  position: relative;
  left: auto;
  right: auto;
  display: flex;
  align-items: center;
  top: auto;
  transform: none;
  vertical-align: middle;
  color: transparent;
  width: 25px;
  background-color: unset;
  border: 0;
}
.controls-arrows{
  display: flex;
  justify-content: center;
  margin-top: 125px;
}
.controls-arrows .slick-dots{
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}
.controls-arrows .blue-dots{
  margin-top: 0;
}
/*.controls-arrows .slick-prev:before, 
.controls-arrows .slick-next:before {
  color: #919191
}*/
.slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.slick-prev:before{
  height: 17px;
  content: url('../img/icons/arrowLeft.svg');
}
.slick-next:before{
  height: 17px;
  content: url('../img/icons/arrowRight.svg');
}


.search input[type=search]{
    opacity: 1 !important;
  }
.search input[type=search]:focus{
  position: absolute;
  position: absolute;
  right: 100px !important;
  width: 250px !important; 
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  top: -20px;

  z-index: 2;
  height: 36px;
}
.search{
  width: 32px;
}
.main-page-header .search input[type=search]:focus{
  top: 52px;
}


.main-header__link a{
  transition: 0.3s;
}

.breadcrumb a:hover{
  text-decoration: underline;
}
.typical-slider__links a:hover{
  text-decoration: none;
}

.view .show{
  display: block;
}
.view img{
  display: none;
}
.accordion .btn[aria-expanded="true"] img{
  transform: rotate(180deg);
}



































.header-dots{
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  top: -15px;
  width: min-content;
  right: -800px;
  top: -280px;
}
.header-dots .slick-active button{
  height: 40px;
  width: 40px;
  max-width: 40px;
  min-width: 40px;
  max-height: 40px;
  min-height: 40px;
  border: none;
  background-color: #fff;
  border-radius: 100%;
  color: #061C2E;
}
.header-dots li button{
  width: 16px;
  height: 16px;
  max-width: 16px;
  min-width: 16px;
  max-height: 16px;
  min-height: 16px;
  border-radius: 100%;
  color: transparent;
  background: rgba(255, 255, 255, 0.5);
}
.header-dots li{
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
.header-dots li button:focus,
button:focus,
.blue-dots li button:focus{
  outline: none;
}


.blue-dots{
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  align-items: center;
}
.blue-dots li{
  display: flex;
  margin: 0 15px;
  align-items: center;
}
.blue-dots .slick-active button{
  background: #1BAAD7;
  color: #061C2E;
  border: none;
  width: 40px;
  height: 40px;
}
.blue-dots li button{
  background: #8A8A8A;
  border: none;
  width: 16px;
  height: 16px;
  font-size: 14px;
  border-radius: 100%;
  color: transparent;
}

.grey-arrows img{
  cursor: pointer;
}


























.menuFive{
  width: 25px;
  height: 16px;
  position: relative;
  cursor: pointer;
  display: inline-block;
}
.menuFive span{
  background-color:#FFF;
  position: absolute;
  border-radius: 2px;
  transition: .3s cubic-bezier(.8, .5, .2, 1.4);
  width:100%;
  height: 2px;
  transition-duration: 500ms
}
.menuFive span:nth-child(1){
  top:0px;
  left: 0px;
}
.menuFive span:nth-child(2){
  top:7px;
  left: 0px;
}
.menuFive span:nth-child(3){
  bottom:0px;
  left: 0px;
}
.clickMenuFive span:nth-child(1){
  transform: rotate(45deg);
  top: 7px;
}
.clickMenuFive span:nth-child(2){
  transform: scale(.1);
}
.clickMenuFive span:nth-child(3){
  transform: rotate(-45deg);
  top: 7px;
}


input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
  background-image: url('../img/icons/search.svg');
  background-position-x: 0px;
  border: 0;
  background-position-y: center;
  background-color: transparent;
  background-repeat: no-repeat;
}
.page-header input[type=search]{
  background-image: url('../img/icons/searchBlack.svg');
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.search input[type=search] {
  width: 21px;
  height: 26px;
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
.search input[type=search]::placeholder{
  color: transparent;
}
.search input[type=search]:hover {
  cursor: pointer;
}
.search input[type=search]:focus::placeholder{
  color: #000;
}
.search input[type=search]:focus {
  top: 0;
  height: 30px;
  outline: none;
  width: 130px;
  padding-left: 12px;
  padding-top: 5px;
  color: #fff;
  padding-bottom: 5px;
  color: #000;
  background-color: rgba(255,255,255,1);
  cursor: auto;
  background-image: none;
  background-position-x: 2px;
  border: 0;
  background-position-y: center;
  background-repeat: no-repeat;
}

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.checkbox + label {
  position: relative;
  padding: 0 0 0 32px;
  cursor: pointer;
}
.checkbox + label:before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 1px solid #fff;
  background: transparent;
}
.checkbox:checked + label:before {
  content: "\2713";
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
}
.section-form input[type="checkbox"]{
  width: 17px;
  height: 17px;
  margin: 5px 15px 0 0;
}
.section-form .redBtn{
  width: 50%;
}
.checkbox-div{
  display: flex;
}
.checkbox-div p a:hover{
  text-decoration: none;
}
.blocks .show{
  display: block;
}
.block{
  display: none;
}
































@media (min-width: 1920px){
  .main-header{
      padding-left: 110px;
  }
  .section-image-bentween-blocks__image img{
    max-width: 60%;
  }
  .page-header__col{
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .page-header .menu{
    left: 250px;
  }
  header .menu{
    left: 250px;
  }
  .search input[type=search]:focus{
    width: 265px !important;
    right: 200px !important;
  }
}

@media (min-width: 1024px) and (max-width: 1919px){
  .main-header__content{
    padding-left: 60px;
  }
  .main-header__slider{
    max-width: 80%;
  }
}
.container{
  max-width: 1305px;
}
@media (min-width: 961px){
  .main-header__slide{
    padding-left: 10px;
  }
  .container{
    max-width: 1305px;
  }
  .special-info{
    max-width: 84%;
  }
  .main-header__link a:hover{
    letter-spacing: 1em;
  }
}
@media (max-width: 960px){
  body,
  .typical-mini-slider__text .title{
    font-size: 16px;
  }

  .typical-slider__text h3{
    font-size: 16px;
  }
  .typical-slider__links a:first-child{
    margin-bottom: 15px;
  }
  h2{
    font-size: 24px;
  }
  .h2-block{
    margin-bottom: 30px;
    display: block;
  }
  .h2-a{
    margin-top: 1rem;
  }
  .section-image-bentween-blocks__image{
    position: static;
    order: 2;
    margin-bottom: 20px;
  }
  .section-image-bentween-blocks__background{
    padding-top: 60px;
  }
  .section-image-bentween-blocks__image img{
    width: 100%;
    max-width: 100%;
  }
  .special-info{
    margin-bottom: 20px;
    text-align: center;
  }
  .special-info__count{
    text-align: center;
  }
  .section-form__image{
    display: none;
  }
  .section-form__form{
    margin-left: 0;
    padding: 0 15px;
  }
  .sliders-news-publications .newses-slider{
    margin-bottom: 30px;
  }
  .additional-header_social{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  #toTop{
    bottom: 80px;
    right: -30px;
  }
  .main-header__block2{
    flex-wrap: wrap;
    align-items: center;
  }
  .main-header__block2 div{
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    text-align: center;
  }
  .main-header__content{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .main-header__slider{
    max-width: 100%;
  }
  .header-dots{
    top: 30px;
    display: flex;
    right: unset;
    margin: auto;
    align-items: center;
  }
  .header-dots li{
    margin: 0 15px;
  }
  .additional-header__products,
  .additional-header_links,
  .additional-header .additional-header_social{
    display: none;
  }
  .additional-header{
    padding-left: 0;
  }
  .additional-header__logo{
    margin: 20px 0;
    text-align: center;
  }
  .additional-header img{
    max-width: 100%;
  }
  .main-header__advantages{
    flex-wrap: wrap;
  }
  .main-header__advantages div{
    margin-bottom: 20px;
  }
  .main-header__slider h3{
    font-size: 36px;
    line-height: normal;
    margin-bottom: 20px;
  }
  .main-header__advantages{
    margin-bottom: 20px;
  }
  .section{
    padding: 60px 0;
  }
  .section-image-bentween-blocks,
  .special-section{
    margin-bottom: 60px;
  }
  .typical-mini-slider__image,
  .typical-mini-slider__image img,
  .typical-mini-slider__text{
    width: 100%;
    max-width: 100%;
  }
  .typical-mini-slider__image img{
    margin-bottom: 20px;
  }
  .section-form__background{
    padding: 60px 0;
  }
  .section-form .redBtn{
    margin: auto;
    width: 60%;
  }
  .typical-mini-slider__block{
    margin-bottom: 30px;
  }
  .advantages-slider .col-lg-4{
    flex: unset;
    max-width: unset;
  }
  .company-history__date{
    margin-top: 10px;
  }
  .services-slider-mobile .blue-dots{
    margin-bottom: 60px;
  }
  .big-img-block{
    padding-right: 0;
    margin-bottom: 30px;
  }
  .first-section{
    padding-bottom: 60px;
  }
  .view,
  .basket-image{
    display: none;
  }
  .sort{
    display: block;
  }
  .sort p{
    margin-bottom: 10px;
  }
  .products-slider-mobile .blue-dots,
  .products-slider-mobile  .blue-dots{
    margin-bottom: 30px;
  }
  .products-on-page{
    justify-content: center;
  }
  .blue-dots{
    margin-top: 40px;
  }
  .product-buttons{
    flex-wrap: wrap;
    justify-content: center;
  }
  .product-buttons a{
    flex: 0 0 100%;
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .product-buttons a:last-child{
    margin-bottom: 0;
  }
  .breadcrumb{
    display: none;
  }
  .table{
    overflow: scroll;
  }
  .table td{
    width: 170px;  
  }
  .table-div{
    overflow: hidden;
  }
  .basket-product__image{
    margin-bottom: 16px;
  }
  .basket-product__delete div{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
  }
  .basket-order{
    margin-top: 40px;
  }
  .order-form__inputs input{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .order-form .redBtn{
    display: flex;
    justify-content: center;
    margin: auto;
  }
  .sertificates-slider-mobile .blue-dots{
    margin-top: 0px;
  }
  .accordion .btn-link,
  .accordion .card-header{
    padding: 0;
  }
  .accordion .card-header{
    padding-bottom: 15px;
  }
  .accordion .card-body{
    padding-left: 30px;
    padding-top: 0;
  }
  .accordion .btn-link img{
    margin-right: 10px;
  }
  .section-image-bentween-blocks-breadcrumbs .section-image-bentween-blocks__background{
    padding-top: 60px;
  }
  .section-image-bentween-blocks-breadcrumbs{
    margin-bottom: 0;
  }
  .newses-slider-mobile .typical-mini-slider__block,
  .publication-slider-mobile .typical-mini-slider__block{
    padding: 0 15px;
  }
  .newses-slider-mobile,
  .publication-slider-mobile{
    margin: 0 -15px;
  }
  .map{
    max-height: 450px;
    min-height: 450px;
  }
  .map2{
    height: 300px;
    width: 100%;
  }
  #showMap{
    width: 100%;
    padding: 10px !important
  }
  header .menuFiveMob span{
    background-color: #061C2E;
  }
  .header-mobile{
    justify-content: space-between;
    align-items: center;
  }


  .men{
    display: none;
  }
  .header-mobile .active{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    z-index: 10;
    top: 0;
    width: 100%;
    overflow: visible;
    background: #fff;
    top: 100px;
    background-color: #F5F5F5;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
  }
  .men ul{
    padding-left: 0;
    list-style: none;
    width: 100%;
  }
  .men .topmenu > li{
    padding: 15px 0;
    font-size: 18px;
    text-transform: uppercase;
    padding-left: 15px;
  }
  .men .topmenu .submenu > li{
    text-transform: none;
  }

  
  .redArrow::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 27px;
    bottom: 0;
    width: 7px;
    height: 1px;
    background: #061C2E;
    transform: rotate(30deg);
    transition: all 0.5s;
  }
  .redArrow::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 21px;
    bottom: 0;
    width: 7px;
    height: 1px;
    background: #061C2E;
    transform: rotate(150deg);
    transition: all 0.5s;
  }
  .redArrow{
    width: 20px;
    height: 20px;
    display: block;
    top: 35%;
    right: 2%;
    position: relative;
  }
  .redOpen::after{
    transform: rotate(30deg);
  }
  .redOpen::before{
    transform: rotate(150deg);
  }
  .last-mobile-line{
    display: flex;
    flex-wrap: wrap;
  }
  .submenu{
    display: none;
    margin-top: 30px;
  }
  .li-div{
    display: flex;
    justify-content: space-between;
  }
  .men .topmenu > li{
    padding: 23px 0;
    padding-left: 15px;
  }
  .last-mobile-line{
    padding: 20px 0;
    border-top: 1px solid rgba(6, 28, 46, 0.15);
  }
  .last-mobile-line p{
    margin-bottom: 1rem;
  }
  .fancybox-content{
    padding: 10px !important;
  }
  .search input[type=search]{
    opacity: 1;
  }
  .search input[type=search]:focus{
    position: absolute;
    position: absolute;
    left: -230px;
    width: 250px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    top: -20px;
    z-index: 2;
    height: 36px;
  }
  .search{
    width: 32px;
  }
  .mobile-home-link{
    min-height: 57px;
    display: block;
  }
  .main-header__link{
    position: static;
    text-align: center;
    /*margin: 30px 15px;*/
    /*border-radius: 30px;*/
    border-radius: 0 0 30px 30px;
  }
  header input[type=search]{
    background-image: url('../img/icons/searchBlack.svg');
  }
  .main-header{
    padding: 30px 15px 50px;
  }
  .header-mobile{
    padding: 22px 0;
  }
  footer .additional-header_social{
    margin-top: 1.5rem;
  }
  .fancybox-content h1{
    font-size: 24px;
  }
  .big-form__col{
    flex: 0 0 100%;
    max-width: 100%;
    border: none !important;
  }
  .big-form .big-form__col:nth-child(odd),
  .big-form .big-form__col:nth-child(even){
    padding-right: 0px;
    padding-left: 0;
  }
  #questionList .card{
    max-width: 100%;
  }
  .big-form{
    min-width: unset;
  }
  .big-form p{
    font-size: 14px;
  }
  .fancybox-content .big-form__block .big-form__address,
  .adress-block p{
    max-width: 100%;
  }
  .adress-block{
    flex-wrap: wrap;
  }
  .adress-block p{
    margin-bottom: 1rem;
  }
  .fancybox-content .big-form__inputs input{
    flex: 0 0 100%;
    max-width: 100%;
  }
  .big-form__inputs{
    max-width: 100%;
  }
  .big-form__send{
    flex-wrap: wrap;
  }
  #questionList input{
    margin-bottom: 0;
    max-height: 40px;
  }
  .big-form__elem{
    max-height: 30px;
  }
  #questionList .big-form__inputs input{
    margin-bottom: 1rem;
  }
  .menu{
    display: none !important;
  }
  .newses-slider .blue-dots{
    margin-bottom: 40px;
  }
  .main-header__slide{
    padding: 0 15px;
  }
  header .search input[type=search]:focus{
    top: -22px;
    width: 230px !important;
    left: -200px;
  }









}